// Place all the styles related to the Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(	131, 209,	69, .5);
  font-family: 'Lato', sans-serif;
}


#w_name {
  font-size: 4em;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  position: relative;
  top: 40px;
}

.favorite {
  position: relative;
  top: 90px;
}

figure img {
  border-radius: 30px;
}
