<!DOCTYPE html>
<html>
  <head>
    <title>Adopt Pets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- GOOGLE FONT/////////// -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Satisfy" rel="stylesheet">
    <!-- SLICK /////////// -->
    <!-- <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/> -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
